#####################################################################
#   Config Constants
#####################################################################

[constants]
run_current_xy: 0.919
home_current_xy: 0.5
driver_tbl_xy: 1
driver_toff_xy: 3
driver_hsrt_xy: 3
driver_hend_xy: 3
interpolate_xy: false 
driver_sgthrs_x: 99
driver_sgthrs_y: 90

#run_current_z:  0.707
#interpolate_z: false
#stealthchop_z: 999999