[heater_fan hotend_fan]
pin: sht:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_pin: ^sht:PC15
tachometer_ppr: 2
tachometer_poll_interval: 0.0009
hardware_pwm: false

[fan]
pin: sht:FAN0
kick_start_time: 0.25
cycle_time: 0.001 
min_power: 0.20
hardware_pwm: false

[controller_fan casefan1]
pin: PA8
kick_start_time: 0.5
#heater: heater_bed
fan_speed: 1

[controller_fan casefan2]
pin: PE5
kick_start_time: 0.5
#heater: heater_bed
fan_speed: 1