[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_8749C0B44E4B333448202020FF0A3115-if00
x_offset: 0
y_offset: 22
mesh_main_direction: x
mesh_runs: 1
lift_speed: 50
z_settling_time: 200
speed: 50
contact_max_hotend_temperature: 310
home_xy_position: 127.5,127.5
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 200
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never

[z_tilt_ng]
#z_positions:
 #   -35.0, -18.0    # Front Left
  #  127.5,  300.0    # Rear
   # 285.0, -18.0    # Front Right

#z_offsets:
#   A list of Z offsets for each z_position. The z_offset is added to each
#   probed value during Z_TILT_ADJUST to offset for unevenness of the bed.
#   This values can also be automatically detected by running
#   Z_TILT_CALIBRATE. See "extra_points" below.
points:
     40, 10          # Front Left
    127.5, 190        # Rear
    210, 10         # Front Right
speed: 500
horizontal_move_z: 5
min_horizontal_move_z: 1.0
#adaptive_horizontal_move_z: True
retries: 8
retry_tolerance: 0.005
#increasing_threshold: 0.0000001
#use_probe_xy_offsets: False
#enforce_lift_speed: False
extra_points:
    170, 165         # Front Right
    110, 35        # Rear
    40, 165          # Front Left

[bed_mesh]
speed: 300
horizontal_move_z: 2
mesh_min: 20,30 
mesh_max: 230,220 
probe_count: 25,25
move_check_distance: 3
mesh_pps: 0,0
algorithm: bicubic
fade_start = 1
fade_end = 10
fade_target = 0
split_delta_z = 0.0125
adaptive_margin: 10
zero_reference_position: 127.5, 127.5