#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 255
position_min: 0
position_max: 255
homing_speed: 80
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
homing_positive_dir: true
use_sensorless_homing: true
homing_retract_dist: 5
homing_retract_speed: 20
min_home_dist: 40

[tmc2209 stepper_x]
uart_pin: PD11
diag_pin: ^PG9
sense_resistor: 0.110
current_change_dwell_time: 0.2
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
home_current: ${constants.home_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGTHRS: ${constants.driver_sgthrs_x}

[stepper_y]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 50
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
homing_positive_dir: true
use_sensorless_homing: true
homing_retract_dist: 5
homing_retract_speed: 20
min_home_dist: 40

[tmc2209 stepper_y]
uart_pin: PC4
diag_pin: ^PG6
sense_resistor: 0.110
current_change_dwell_time: 0.2
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
home_current: ${constants.home_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGTHRS: ${constants.driver_sgthrs_y}

